
.form_container {
    display: flex;
    justify-content: center;
}

.apprentissage_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}
.form-control {
    padding-right: 80px ;
    height: 30px;
    border: 1px solid #ddd;
    color: rgb(112, 112, 112);
    border-radius: 5px;
    box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3); 
}
.btn {
    font-size: large;
    max-width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: none;
    background-color: #F15025;
    border-radius: 50px;
    color: white;
}
textarea {
    padding-right: 80px ;
    height: 30px;
    border: 1px solid #ddd;
    color: rgb(112, 112, 112);
    border-radius: 5px;
    box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);  
}

select {
    padding-right: 80px ;
    height: 30px;
    border: 1px solid #ddd;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: inset 0px 1px 5px rgba(0,0,0,0.3);  
}