.head__container {
    display: flex;
    justify-content: center;
}

.main__title{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.vaisseau__container {
    display: flex;
    justify-content: center;
}

h3{
    font-size: 5rem;
}
#title {
    color: #F15025;
    margin-top: 10%;
    position: absolute;
    z-index: 2;
}

.vaisseau-spatial {
    max-width: 300px;
}
#vaisseau-spatial {
    margin-top: 500px;
    position: absolute;
}

.espace {
    position: absolute;
    top: 0;
    width: 100%;
}

#espace {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.content {
    background-color: #191919;
    padding: 10px;
    margin-top: 50px;
    color: white;
}

#footer-navbar {
    background-color: #191919;
    color: white;
}

@media screen and (max-width: 750px) {
    main{
        max-width: 100%;
    }
    .main__title{
        font-size: 42px;
    }
    h3{
        font-size: 42px;
    }
    #target{
        font-size: 50px;
    }
}
